@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Noto+Serif+Thai:wght@100..900&display=swap');
@import "tw-animate-css";

:root {
    --primary-color: #1E9D75;
    --secondary-color: #B4FF63;
    --background-color: #1f1f1f;
    --dengar:#9D1E1E;
    --mix-bg1:linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    --mix-bg2:linear-gradient(90deg, var(--dengar) 0%, var(--secondary-color) 100%);
    --gray:#444;
    --Ligthgray:#a5a5a5;
    --text-color: #F1F3E9;
}
.ligthMode{
    --background-color: #F1F3E9;
    --text-color: #282828;
    --gray:#dbdbdb;
    --secondary-color: #98e04c;
    --mix-bg1:linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    --mix-bg2:linear-gradient(90deg, var(--dengar) 0%, var(--secondary-color) 100%);
}

body {

    font-family: "Noto Serif Thai", serif;
    font-optical-sizing: auto;
    font-variation-settings:100;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    max-width: 50rem;
    width: 90%;
}
.colored_box{
    background: var(--mix-bg1);  
    display: flex;
    justify-content: center;
    align-items: center;  
}
.coloredText1{
    background: var(--mix-bg1);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.coloredText2{
    background: var(--mix-bg2);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.toggle {
    background: var(--mix-bg1);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    top: -0.15rem;
    transition: transform 0.3s ease-in-out;
}

.buttonContainer {
    width: 9rem;
    height: 3rem;
    border-radius: 10rem;
    padding: 0.15rem;

}
.btnNav{
    background: #444;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    border: 1px solid ;
    width: fit-content;

}
.button {
    border-radius: 10rem;
    color: var(--text-color);
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border-radius: 10rem;
    cursor: pointer;
    position: relative;

}

.primaryButton {
    background: transparent;
    color: #F1F3E9;
}

.secondaryButton {
    background: var(--gray);
    /* transition: all .3s ease-in; */
}
.LigthButton {
    background: var(--Ligthgray);
    /* transition: all .3s ease-in; */
}
/* ================= NavBar component ================ */
.navBar_container {
    border-radius: 10rem;
    margin: 0 auto;
    max-width: 50rem;
    width: 95%;
    height: 3rem;
    margin-bottom: 5rem;
    padding: 0 0 0 0.2rem;
}
.navBar {
    border-radius: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 91%;
    background-color: var(--background-color);
    padding: 0 0 0 2rem;
    transition: all 0.3s ease-in-out;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    position: relative;

}

.header_2 {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Italianno", cursive;
}

.header_1 {
    font-size: 4rem;
    font-weight: 600;
}

.headerContainer p {
    color: #AAA;
    max-width: 25rem;
    margin-bottom: 1rem;
}

/* ================= Select component ================ */
.dropdown {
    position: relative;
    width: 100%;
    font-family: Arial, sans-serif;
}

.dropbtn {
    width: 100%;
    border-radius: 50px;
    border: 2px solid transparent;
    background: var(--mix-bg1);    
    cursor: pointer;
    /* transition: opacity 0.3s ease; */
}

.dropbtn:hover {
    opacity: 0.7;
}

.dropbtn .selected {
    background: var(--background-color);
    border-radius: 50px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
}

.dropdown-content {
    margin: 0;
    padding: 5px;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background: var(--background-color);
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.dropdown-content li {
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.2s ease;
    text-align: left;
}

.dropdown-content li:hover {
    background: #1E9D75;
}

/* ================= Form component ================ */
.formContainerPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(8, 8, 8, 0.279);
    backdrop-filter: blur(5px);
    position: absolute;
    top: -5rem;
    display: none;
}

.form_container {
    margin: 0 auto;
    max-width: 30rem;
    width: 90%;
    height: 25rem;
    border-radius: 2rem;
    box-shadow: 0px 4px 10px rgba(228, 228, 228, 0.144);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    width: 99%;
    height: 99%;
    border-radius: 2rem;
    gap: 1.5rem;
    padding: 1rem;

}

.form>h1 {
    font-size: 2rem;
    font-weight: 600;
}

.desplay {
    display: flex;
}
/* =====================QuestionCard============== */
.uperTitle{
    color: #888;
}
.questionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 auto ;
    padding: 1rem;
}

.questionBox{
    overflow: hidden;
    background: var(--mix-bg1);    
    width: 100%;
    padding: 2px;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(228, 228, 228, 0.144);
}
.questionText{
    place-content: center;
    text-align: center;
    font-weight: 600;
    color: var(--text-color);
    background-color: var(--background-color);
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    height: 7rem;
    overflow-y: auto;
}
.questionText::-webkit-scrollbar {
    width: 8px; 
}

.questionText::-webkit-scrollbar-track {
    background: var(--Ligthgray); 
    border-radius: 1rem;
}

.questionText::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 1rem;
}

.questionText::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color)
}
.optionsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 80%;
}
.optionsContainer .option{
    width: 100%;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 3px 5px rgba(228, 228, 228, 0.091);
    padding: 0.5rem 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid #444;
}
.optionsContainer .option span{
    background-color: #444;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F1F3E9;
} 
.moveBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.moveBar .btn1{
    grid-area: btn1;
    display: flex;
    align-items: start;
    height: 100%;
}
.moveBar .btn2{
grid-area: btn2;

}
.moveBar .btn3{
    grid-area: btn4;
    display: flex;
    place-content: end;

}
.moveBar .btn4{
    grid-area: btn5;
    display: flex;
    justify-content: end;
    align-items: start;
    height: 100%;

}
.moveBar .questionNumber_Container{
    grid-area: btn3;
    background: var(--mix-bg1);    
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(228, 228, 228, 0.144);
    width: 4.5rem;
    height: 4.5rem;
    place-self: center;

}
.moveBar .questionNumber_Container .questionNumber{
    width: 4rem;
    height: 4rem;
    background-color: var(--gray);
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;

}
/* .moveButtons{
    display: flex;
    justify-content: space-between;
    width: 100%;
} */
/* ================Resulte page================= */
/* ==AnswersReview== */
.AnswersReview_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0 auto;
    width: 90%;
    max-width: 75rem;
    margin-bottom: 2rem;
}
.questionReview_container{
    width: 100%;
    height: fit-content;
    padding: 2px;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(228, 228, 228, 0.144);
}
.questionReview{
    place-content: center;
    text-align: start;
    font-weight: 600;
    color: var(--text-color);
    background-color: var(--background-color);
    width: 100%;
    padding: 1rem 1.5rem 1.5rem 0;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    row-gap: 1rem;
}
/* ===QuizResulte== */
.QuizResulte_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    width: 90%;
    max-width: 40rem;
    margin: 0 auto;
    gap: 2rem;
    /* background-color: red; */
}
.QuizResulte_container .userResulteStatus{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}
.QuizResulte_container .userResulteStatus h1{
    font-size: 4rem;
    font-weight: 600;

}

.QuizResulte_container .userResulteStatus p{
    font-size: 0.9rem;
    color: #777;
    padding-bottom: 1rem;
}
.QuizResulte_container .scoreStatus_container{
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(228, 228, 228, 0.144);
    padding: 0.5rem;
}
.QuizResulte_container .scoreStatus_container .scoreStatus{
    background-color: var(--gray);
    width: 8rem;
    height: 8rem;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;

}
.QuizResulte_container .scoreStatus_container .scoreStatus h2{
    font-size: 2rem;
}

@media screen and (max-width: 800px) {
    .header_1 {
        font-size: 3.5rem;
    }

    .header_2 {
        font-size: 1.8rem;
    }
    .headerContainer p {
        max-width: 22rem;
    }
    .AnswersReview_container{
        grid-template-columns: 1fr;
        width: 95%;
    }
}
@media (max-width: 600px) {
    .container{
        max-width: 100%;
        width: 100%;
    }
    .header_1 {
        font-size: 2rem;
    }

    .header_2 {
        font-size: 1.5rem;
    }
    .headerContainer p {
        max-width: 20rem;
    }
    .navBar_container {
        max-width: 100%;
        margin-bottom: 3rem;
    }

    .navBar {
        height: 90%;
        padding: 0 0 0 1rem;
    }
    .form_container{
        height: 22rem;
    }
    .optionsContainer{
        width: 100%;
    }
.moveBar{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "btn2 btn4"
    "btn3 btn3"
    "btn1 btn5"
    ;
    gap: 0rem;
    width: 100%;
}
.QuizResulte_container{
    gap: 1rem;
}
.QuizResulte_container .userResulteStatus h1{
    font-size: 2.8rem;
}
.QuizResulte_container .userResulteStatus p{
    font-size: 0.7rem;
}
.QuizResulte_container .scoreStatus_container .scoreStatus{
    width: 6rem;
    height: 6rem;
}
.QuizResulte_container .scoreStatus_container .scoreStatus h2{
    font-size: 1.5rem;
}
}
